 .profile-pic{
             width:150px;
             height:150px;
             border-radius:50%;
         }

.book-detail .cover-pic{
    width:200px;
    height:300px;
    object-fit:cover;
}
.navbar{
    background-color: #e3f2fd;
}
