{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="row mb-4">
     <div class="col-2 book-detail">
         <img class="cover-pic" src="{{ book.cover_picture.url }}">

     </div>
     <div class="col-6">
         <h3> {{ book.title}}</h3>
         <span class="fst-italic"> Authored by {% for author in book.book_author_set.all %}
             {% if forloop.last %}
             {{ author.author.full_name}}
             {% else %}
             {{ author.author.full_name}},
             {% endif %}
             {% endfor %}
         </span>
         <p>
             {{book.description}}
         </p>
     </div>
 </div>
<h3> Add Review</h3>
<div class="row mb-4">
    <div class="col-6">
        <form method="post" action="{% url 'addreviews' book.id %}">
            {% csrf_token %}
            {{review_form | crispy}}

            <button class="btn btn-success"> Add review </button>

        </form>

    </div>
</div>
   {% if book.book_review_set.exists %}
    <h4> Reviews</h4><hr>

    {% for review in book.book_review_set.all %}
    <div class="row mb-3">
        <div class="col-1 me-2">
            <img  class="small_profile_pic" src="{{review.user.profile_picture.url }}">
        </div>
        <div class="col-7">
            <b>{{ review.user.username }}</b> rated it {{ review.stars_given}} stars  <span class="fw-lighter">{{ review.created_at }} </span>
            <p class="mt-2 font-monospace ">{{ review.comment }}</p>
        </div>
    </div>
    <p>

    </p>
    {% endfor %}

{% endif %}

{% endblock content %}