{% extends 'base.html' %}
{% block content %}
 <h1> All books</h1>

 {% if books %}
{% for book in books %}
   <div class="row mb-4 book-detail">
       <div class="col-2">
           <img class="cover-pic" src="{{book.cover_picture.url}}">
       </div>
       <div class="col-6">
            <a href="{% url 'book-detail' book.id %}">
                {{ book.title }}
            </a>
           <p>
               {{book.description}}
           </p>
       </div>
       </div>


        <!--<li><strong>Description:</strong> {{ books.description }}</li>
        <li><strong>ISBN:</strong> {{ books.isbn }}</li>-->

{% endfor %}
{% else %}
No books found.
{% endif %}
{% endblock content %}